<style media="screen">
  .fixErr{
    height: 100%;
    width: 100%;
  }

  .upimage {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    border: 1px solid #80007f;
    border-style: dashed;
    position: relative;
  }


</style>

<md-dialog layout="column" style="height: 100%;width:100%" ng-controller="toolbar">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2><b>Soumettre un Article</b></h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="addCls($event)" aria-label="close">
        <md-icon ng-md-icon icon="close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content style="height: 100%;width:100%">
    <md-tabs class="md-primary fixErr" md-center-tabs md-selected="tabslct">
    <md-tab label="Titre">
      <md-content class="md-padding">
        <h2 class="md-display-1">Titre de l'article:</h2>
        <p class="md-body-1">
          Entrez le titre de l'article:
        </p>
        <md-input-container class="md-icon-float md-block">
          <!-- Use floating label instead of placeholder -->
          <label>Titre</label>
          <md-icon ng-md-icon icon="description"></md-icon>
          <input ng-model="user.title" type="text">
        </md-input-container>

      </md-content>
    </md-tab>

    <md-tab label="Description">
      <md-content class="md-padding">
        <h2 class="md-display-1">Description de l'article:</h2>
        <p class="md-body-1">
          donnez une description de l'article:
        </p>
        <textarea ng-model="user.desc" rows="8" cols="80"></textarea>
      </md-content>
    </md-tab>

    <md-tab label="Article">
      <md-content class="md-padding">

        <script type="text/javascript">
          $(function () {
            $("#dimp").show();
          });

          function onFileSelected(event) {
            var selectedFile = event.target.files[0];
            var reader = new FileReader();

            var imgtag = document.getElementById("myimage");
            imgtag.title = selectedFile.name;

            reader.onload = function(event) {
              imgtag.src = event.target.result;
              $(".upimage").css({
                'background': 'url(' + event.target.result + ')',
                'background-size': 'cover',
                'background-position': 'center'
              });
            };

            reader.readAsDataURL(selectedFile);

            $("#dimp").hide();
          }
        </script>
        <style media="screen">
          #myimage{
            width: 100%;
            height: 100%;
          }
          .upimage{
            background-size: cover;
            background-position: center;
          }
        </style>
        <h2 class="md-display-1">Article</h2>
        <div class="upimage" layout="column" layout-align="center center">
          <div id="dimp">
            <input id="artImage" class="ng-hide" ng-model="upphoto" onchange="onFileSelected(event)" type="file">
            <label for="artImage" class="md-button md-raised md-primary">Choose Photo</label>
          </div>
          <img id="myimage" src="" alt="" class="ng-hide">
        </div>

        <br>

        <div ng-hide="startUp">
          <input id="artPdf" class="ng-hide" ngf-select ng-model="uppdf" type="file">
          <span>Sélectionner votre Pdf: </span>
          <label for="artPdf" class="md-button md-raised md-primary">Choose PDF</label>
        </div>
        <div ng-show="startUp">
          <span>Upload PDF: {{progressPercentage}}%</span>
          <md-progress-linear md-mode="determinate" value="{{progressPercentage}}"></md-progress-linear>
        </div>
        <br>
        <hr>

        <md-button ng-hide="upEnd" class="md-raised md-primary" ng-click="upPDF()" style="background-color: rgb(221, 124, 85);">
          <md-icon ng-md-icon icon="cloud_upload"></md-icon>
          upload
        </md-button>

      </md-content>
    </md-tab>
    </md-tabs>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button class="md-raised md-accent" ng-click="addCls()">
     Annuler
    </md-button>
    <md-button ng-hide="thrdstp" class="md-raised md-primary" ng-click="next()">
      Suivant
    </md-button>
    <md-button ng-show="thrdstp" class="md-raised md-primary" ng-click="svArt()">
      terminer
    </md-button>
  </md-dialog-actions>

</md-dialog>
